.mainHeader {
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:3.5rem;
  width:100vw;
  background-color: rgb(148, 18, 18);
}

.mainHeader h2 {
  color:white;
  margin: 0 4rem;
}
